@import 'reset';

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #333;
	background: #f3f6f9;
	margin: 40px;
}
h1, h2, h3 {
	font-size: 32px;
	font-weight: 200;
	margin-bottom: 20px;
}
h2{ font-size: 24px; }
h3{ font-size: 20px; margin-top: 30px; }
p{
	margin-bottom: 10px;
	line-height: 1.4em;
}
.big{
	font-size: 18px;
}

@mixin border-box(){
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

pre{
   font-family: "courier new", courier, monospace;
   padding: 20px;
   border: 1px solid #ddd;
   width: 350px;
   background: #fafafa;
   margin-bottom: 30px;
}

.tp{
	@include border-box();
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #ddd;
	background: #fff;
	padding: 5px 10px;
	height: 42px;
	font-size: 18px;
	width: 150px;
	text-align: center;
	margin-right: 10px;
}

.marginBottom10{ margin-bottom: 10px; }
.marginBottom30{ margin-bottom: 30px; }